.modal-overlay {
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 50%;
    height: 50%;
    margin: 25vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.close-modal:hover {
    color: var(--color-rocket);
    transition: color 300ms;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}