.card {
    text-align: center;
}

.modal-overlay {
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 50%;
    height: 50%;
    margin: 25vh auto;
    position: relative;
    border: 3px  rgb(165, 165, 165);
    border-radius: 20px;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.close-modal:hover {
    color: var(--color-rocket);
    transition: color 300ms;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}

.modal-content img {
    border: 3px solid rgb(165, 165, 165);
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    margin-top: 50px;
}

.modal-content h2 {
    margin-top: 30px;
}

.modal-content p {
    margin-top: 10px;
}

.modal-content h2,p {
    text-align: center;
}