* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0 auto;
    font-family: sans-serif;    
}


.mid {
    max-width: 960px;
    margin: 0 auto;
}
/* Menu */

.menu {
    padding: 20px 0;
    max-width: 800px;
}

.menu img {
    margin-right: 100px;
    
}

.menu ul {
    display: flex;
    gap: 20px;
    text-align: center;
}

.menu ul li a {
    color: black;
    font-size: 1.2rem;
    line-height: 20px;
}

.menu ul li a:hover {
    color: rgb(165, 165, 165);
    text-shadow: 1px 1px rgb(165, 165, 165);
    transition: color 200ms ;
}


.textos {
    margin-top: 50px;
}

.text1 {
    
}

.text1 h1 {
    margin-bottom: 20px;
    
}

.text1 p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    max-height: 280px;
    text-align: justify;
}

.text1 h2 {
    margin: 30px 0 20px 0;
}

.footer {
    margin-top: 40px;
    background-color: rgb(165, 165, 165);
    padding: 20px;
    text-align: center;
}

.footer-mid p {
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
}