.card {
    text-align: center;
}

.modal-overlay {
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    margin: auto;
    position: relative;
    box-shadow: 2px 2px #f5deb3b6;
}

.modal .close-modal {
    color: white;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.close-modal:hover {
    color: #f5deb3b6;
    transition: color 300ms;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-content: center;
}

.modal-content {
    background-color: black;
    padding: 50px;
    text-align: center;
}

.modal-content img {
    margin-top: 40px;
    box-shadow: 2px 2px #f5deb3b6;
    max-width: 120%;
    border-radius: 2px;
}

.modal-content h2 {
    margin-top: 30px;
}

.modal-content p {
    margin-top: 10px;
}

.modal-content h2,p {
    text-align: center;
    color: white;
}