{% extends "layouts.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block content %}
    <main class="main">
        <div id="wrapper">
            <img class="img-profile" src="{{about.avatar_url}}" alt="Imagem de {{about.name}}">
            <div class="text-prog">
                <h1>{{about.name}}</h1>
                <h2>{{about.role}}</h2>
                <p>{{about.stack}}</p>
            </div>
            <div class="redes-sociais">
                <ul>
                {% for link in about.links %}
                    <li>
                        <a href="{{ link.url }}" target="{{ link.name }}"></a>
                    </li>
                {% endfor %}
                </ul>
            </div>
    </div>
    </main>
    <footer class="footer">
        <div class="links-footer">
            <ul>
                <li>
                    <a href="https://discordapp.com/invite/gCRAFhc" target="blank">Comunidade</a>
                    <a href="mailto:oi@rocketseat.com.br">E-mail</a>
                    <a href="tel:+5547992078767" target="blank">Telefone</a>
                </li>
            </ul>
        </div>
    </footer>

{% endblock %}