.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container img {
    border-radius: 50%;
    height: 200px;
    margin: 0 50px;
}

.text-rocket {
    display: flex;
    justify-content: center;
    border: 3px solid var(--color-border);
    background-color: var(--color-bg);
    padding: 10px;
}

.text-rocket p {
    color: white;
    max-width: 750px;
    font-size: 1.0rem;
    line-height: 1.6;
    text-align: justify;
    font-family: sans-serif;
}


.tecnologias {
    gap: 100px;
    width: 300px;
    display: flex;
    margin: 100px auto;
    align-content: center;
    justify-content: center;
}

.tecnologias h2 {
    color: white;
    align-self: center;
    border: 2px solid var(--color-border);
    padding: 10px;
}

.tecnologias ul {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: center;
    align-items: center;
}

.tecnologias ul li {
    box-shadow: rgb(2, 0, 2) 5px 2px;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid;
    margin: 5px;
    background-color: var(--color-rocket);
    padding: 25px;
    text-shadow: black 4px 2px;
}

.rocket-redes {
    font-size: 1.2rem;  
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
    
}

.rocket-redes h2 {
    color: white;
    text-align: center;
    margin: 50px;
}

.rocket-redes img {
    border-radius: 50%;
    height: 40px;
    margin-right: 5px;
}

.rocket-redes ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 25px;  
}