.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-rocket);
}

.card p,h1,h2 {
    color: white;
    font-family: sans-serif;
}

.card-img-container img {
    width: 100%;
}

.card-content, .card-info {
    padding: 24px;
}

.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}